@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,600;1,700&display=swap');

@font-face {
    font-family: "HKGroteskBold";
    src: local("HKGroteskBold"),
    url("./fonts/HKGrotesk/HKGrotesk-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "HKGroteskExtraBold";
    src: local("HKGroteskExtraBold"),
    url("./fonts/HKGrotesk/HKGrotesk-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "HKGroteskMedium";
    src: local("HKGroteskMedium"),
    url("./fonts/HKGrotesk/HKGrotesk-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "HKGrotesk";
    src: local("HKGrotesk"),
    url("./fonts/HKGrotesk/HKGrotesk-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "HKGroteskLight";
    src: local("HKGroteskLight"),
     url("./fonts/HKGrotesk/HKGrotesk-Light.ttf") format("truetype");
    font-weight: 300;
}

.HKGrotesk-bold {
    font-family: "HKGroteskBold";
}

.HKGrotesk-extrabold {
    font-family: "HKGroteskBold";
}

.HKGrotesk {
    font-family: "HKGrotesk";
}

.HKGrotesk-light {
    font-family: "HKGroteskLight";
}

.HKGrotesk-medium {
    font-family: "HKGroteskMedium";
}